@media screen and (max-width: 1650px) {
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 257px;
    width: 257px;
  }
  .rowheight {
    height: 850px !important;
  }
  .foodie-carousel {
    position: relative;
  }

  .foodie-carousel .item {
    position: relative; /* REQUIRED */
    height: 500px; /* REQUIRED */
    z-index: 10;
  }

  .plate {
    position: absolute;
    z-index: 9999;
    width: 350px;
    height: 350px;
    left: 21%;
    top: 50%;
    transform: translateY(-50%);
  }

  .lemon {
    position: absolute;
    z-index: 5;
    /* background-color: #201e1e; */
    width: 350px;
    height: 350px;
    top: 17px;
    right: 43%;
  }

  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 200px;
    height: 200px;
    /* bottom: -115px; */
    right: 93%;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 200px;
    height: 200px;
    right: 79%;
    top: 490px;
    /* background-color: red; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 244px;
    height: 200px;
    right: 14%;
    top: 426px;
  }
  .backgroundImage {
    transform: rotate(16deg);
    position: absolute;
    top: 10px;
    right: -685px;
    top: -107px;
    height: 927px;
    width: 1273px;
    /* overflow: hidden; */
  }

  .socialmedia {
    position: absolute;
    right: -190px;
    top: 20%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .chefimg {
    height: 350px;
    position: absolute;
    top: 1px;
    top: -343px;
    left: 63%;
  }
  .chefimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .curryleaves {
    height: 350px;
    position: absolute;
    top: 1px;
    top: -212px;
    left: 87%;
  }
  .curryleaves img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .smallsocialmedia {
    display: none !important;
  }
}
@media screen and (max-width: 1450px) {
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 207px;
    width: 207px;
  }
  .rowheight {
    height: 800px !important;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 400px;
    height: 400px;
    top: -62px;
    right: 24%;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 320px;
    height: 320px;
    left: 29%;
    top: 239px;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 200px;
    height: 200px;
    /* bottom: -115px; */
    right: 100%;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 200px;
    height: 200px;
    right: 79%;
    top: 490px;
    /* background-color: red; */
  }
  .backgroundImage {
    transform: rotate(13deg);
    position: absolute;
    top: 10px;
    right: -685px;
    top: -113px;
    height: 927px;
    width: 1273px;
    /* overflow: hidden; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 244px;
    height: 200px;
    right: 31%;
    top: 426px;
  }

  .socialmedia {
    position: absolute;
    right: -170px;
    top: 20%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .teammembershin {
    height: 500px !important;
    /* background-color: #000; */
  }
  .smallsocialmedia {
    display: none !important;
  }
}

@media screen and (max-width: 1290px) {
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 167px;
    width: 167px;
  }

  .rowheight {
    height: 750px !important;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 400px;
    height: 400px;
    top: -62px;
    right: 24%;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 320px;
    height: 320px;
    left: 17%;
    top: 239px;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 81px;
    height: 65px;
    /* bottom: -115px; */
    right: 114%;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 100%;
    top: 402px;
    /* background-color: red; */
  }
  .backgroundImage {
    transform: rotate(10deg);
    position: absolute;
    top: 10px;
    right: -730px;
    top: -116px;
    height: 871px;
    width: 1273px;
    /* overflow: hidden; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 244px;
    height: 200px;
    right: 31%;
    top: 358px;
  }
  .socialmedia {
    position: absolute !important;
    right: -150px;
    top: 20%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .curryleaves {
    display: none;
  }
  .Copyrightcontainer {
    width: 95% !important;
  }
  .cauliflower {
    display: none;
  }
  .Team-membercontent {
    height: 250px !important;
  }
  .smallsocialmedia {
    display: none !important;
  }
}

@media screen and (max-width: 1180px) {
  .sddg {
    width: 80%;
    /* background-color: red; */
    /* margin-right: 155px; */
  }
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 107px;
    width: 107px;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 320px;
    height: 320px;
    top: 17px;
    right: 28%;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 320px;
    height: 320px;
    left: 17%;
    top: 239px;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 81px;
    height: 65px;
    /* bottom: -115px; */
    right: 510px;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 91%;
    top: 400px;
    /* background-color: red; */
  }
  .backgroundImage {
    transform: rotate(10deg);
    position: absolute;
    top: 10px;
    right: -850px;
    top: -116px;
    height: 871px;
    width: 1273px;
    /* overflow: hidden; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 244px;
    height: 200px;
    right: 19%;
    top: 358px;
  }
  .socialmedia {
    position: absolute !important;
    right: -110px;
    top: 20%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .teammembershin {
    height: 450px !important;
    /* background-color: #000; */
  }
  .common-title {
    font-size: 17px;
  }
  .common-para {
    font-size: 14px;
  }
  .Team-para {
    font-size: 14px;
    /* background-color: red; */
  }
  .smallsocialmedia {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .sddg {
    width: 80%;
    /* background-color: red; */
    /* margin-right: 155px; */
  }
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 127px;
    width: 127px;
  }
  .lemon {
    display: none !important;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 300px;
    left: 16%;
    top: 239px;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 81px;
    height: 65px;
    /* bottom: -115px; */
    right: 450px;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 91%;
    top: 400px;
    /* background-color: red; */
  }
  /* .hero-carousel .item {
    background-color: red;
  } */
  .backgroundImage {
    transform: rotate(10deg);
    position: absolute;
    right: -860px;
    top: -179px;
    height: 871px;
    width: 1273px;

    /* overflow: hidden; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 180px;
    height: 100px;
    right: 36%;
    top: 390px;
  }
  .rowheight {
    height: 950px;
  }
  .socialmedia {
    display: none;
  }
  .smallsocialmedia {
    display: flex !important;
    visibility: visible;
    /* background-color: #1a5d00; */
    width: 50px;
    position: absolute;
    top: 80px;
    right: -71px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .smallsocialmedia i {
    font-size: 26px;
    cursor: pointer;
  }

  .chefimg {
    display: none;
  }
  .chefs-pecial {
    color: red;
    font-size: 20px;
  }
  .btn {
    background-color: #201e1e !important;
    padding: 15px 40px !important;
    border-radius: 10px;
  }
  .btntitle {
    color: white;
    font-size: 15px;
  }
  .adve {
    font-size: 30px;
    font-family: "DmSans-bold", sans-serif;
  }
  .rowheight {
    height: 680px;
  }
}

@media screen and (max-width: 988px) {
  .sddg {
    width: 80%;
    /* background-color: red; */
    /* margin-right: 155px; */
  }
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 107px;
    width: 80px;
  }

  .lemon {
    /* position: absolute;
    z-index: 1;
    width: 270px;
    height: 270px;
    top: -21px;
    right: 36%; */
    display: none;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 270px;
    height: 270px;
    left: 16%;
    top: 173px;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 70px;
    height: 65px;
    /* bottom: -115px; */
    right: 381px;
    top: 169px;

    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 60%;
    top: 320px;
    /* background-color: red; */
  }
  .backgroundImage {
    position: absolute;
    top: 10px;
    right: -774px;
    top: -313px;
    /* overflow: hidden; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 151px;
    height: 120px;
    right: 19%;
    top: 330px;
  }

  .adve {
    font-size: 40px;
  }

  .chefs-pecial {
    color: red;
    font-size: 20px;
  }
  .btn {
    background-color: #201e1e !important;
    padding: 15px 40px !important;
    border-radius: 10px;
  }
  .btntitle {
    color: white;
    font-size: 15px;
  }
  .rowheight {
    height: 550px;
  }
  .teammembershin {
    height: 895px !important;
    /* background-color: #000; */
  }
  .common-title {
    font-size: 22px;
  }
  .common-para {
    font-size: 18px;
  }
  .Team-para {
    font-size: 18px;
    /* background-color: red; */
  }
}

@media screen and (max-width: 890px) {
  .lemon {
    /* position: absolute;
    z-index: 1;
    background-color: #201e1e;
    width: 220px;
    height: 220px;
    top: -2px;
    right: 42%; */
    display: none;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 220px;
    height: 220px;
    left: 14%;
    top: 157px;
  }
  .Strawberry {
    display: none;
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 60%;
    top: 310px;
    /* background-color: red; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 160px;
    height: 200px;
    right: 9%;
    top: 297px;
  }

  .chefs-pecial {
    color: red;
    font-size: 20px;
  }
  .adve {
    font-size: 30px;
  }
  .btn {
    background-color: #201e1e !important;
    padding: 15px 40px !important;
    border-radius: 10px;
  }
  .btntitle {
    color: white;
    font-size: 15px;
  }
  .rowheight {
    height: 550px;
  }
  .teammembershin {
    height: 895px !important;
    /* background-color: #000; */
  }
  .common-title {
    font-size: 22px;
  }
  .common-para {
    font-size: 18px;
  }
  .Team-para {
    font-size: 18px;
    /* background-color: red; */
  }
  /* .foodie-carousel .item {
    background-color: red;
    /* width: 700px; */
}

@media screen and (max-width: 768px) {
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 87px;
    width: 87px;
  }
  .rowheight {
    height: 360px !important;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background-color: red !important; */
  }
  .teammembershin {
    height: 795px !important;
    /* background-color: #000; */
  }
  .footer-leaves {
    display: none;
  }
  .common-title {
    font-size: 17px;
  }
  .common-para {
    font-size: 14px;
  }
  .Team-para {
    font-size: 14px;
    /* background-color: red; */
  }
  .Learmore {
    font-size: 17px;
    font-family: "DmSans-bold", sans-serif;
  }
  .choose-carousel .owl-dots .owl-dot span {
    width: 7px !important;
    height: 7px !important;
    margin: 3px 3px !important;
  }
}

@media screen and (max-width: 576px) {
  .chefs-pecial {
    color: red;
    font-size: 17px;
  }
  .adve {
    font-size: 35px;
  }
  .rowheight {
    height: 300px;
  }
  .teammembershin {
    height: 1750px !important;
    /* background-color: #000; */
  }
}
@media screen and (max-width: 472px) {
  .teammembershin {
    height: 555px !important;

    /* background-color: #000; */
  }
  .teammembershin {
    height: 1500px !important;
    /* background-color: #000; */
  }
}
@media screen and (max-width: 380px) {
  .leaf {
    display: none;
  }
  .chefs-pecial {
    color: red;
    font-size: 17px;
  }
  .adve {
    font-size: 30px;
  }
  .btntitle {
    color: white;
    font-size: 12px;
  }
  .teammembershin {
    height: 1240px !important;
    /* background-color: #000; */
  }
  .choose-carousel .owl-dots .owl-dot span {
    width: 5px !important;
    height: 5px !important;
    margin: 3px 2px !important;
    /* border: none; */
    /* background-color: #2f2d2d; */
  }
  .showmorebtn {
    background-color: #1a5d00;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
  }
  .webseries span {
    font-size: 13px;
    font-weight: 500;
  }
  .client-box {
    width: 140px;
    height: 100px;
    aspect-ratio: 1 / 1; /* PERFECT square */

    /* background-color: red; */
  }
}
