@media screen and (max-width: 1650px) {
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 257px;
    width: 257px;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 400px;
    height: 400px;
    top: -78px;
    right: 37%;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 450px;
    height: 450px;
    left: 24%;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 200px;
    height: 200px;
    /* bottom: -115px; */
    right: 93%;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 200px;
    height: 200px;
    right: 79%;
    top: 490px;
    /* background-color: red; */
  }
  .backgroundImage {
    position: absolute;
    top: 10px;
    right: -585px;
    top: -250px;
    /* overflow: hidden; */
  }
  .socialmedia {
    position: absolute;
    right: -190px;
    top: 20%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .chefimg {
    height: 350px;
    position: absolute;
    top: 1px;
    top: -343px;
    left: 63%;
  }
  .chefimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .curryleaves {
    height: 350px;
    position: absolute;
    top: 1px;
    top: -212px;
    left: 87%;
  }
  .curryleaves img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .smallsocialmedia {
    display: none !important;
  }
}
@media screen and (max-width: 1450px) {
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 207px;
    width: 207px;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 400px;
    height: 400px;
    top: -62px;
    right: 33%;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 450px;
    height: 450px;
    left: 21%;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 200px;
    height: 200px;
    /* bottom: -115px; */
    right: 100%;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 200px;
    height: 200px;
    right: 79%;
    top: 490px;
    /* background-color: red; */
  }
  .backgroundImage {
    position: absolute;
    top: 10px;
    right: -635px;
    top: -245px;
    /* overflow: hidden; */
  }
  .socialmedia {
    position: absolute;
    right: -170px;
    top: 20%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .teammembershin {
    height: 500px !important;
    /* background-color: #000; */
  }
  .smallsocialmedia {
    display: none !important;
  }
}

@media screen and (max-width: 1290px) {
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 167px;
    width: 167px;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 400px;
    left: 17%;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 400px;
    height: 400px;
    top: -78px;
    right: 32%;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 81px;
    height: 65px;
    /* bottom: -115px; */
    right: 110%;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 83%;
    top: 402px;
    /* background-color: red; */
  }
  .backgroundImage {
    position: absolute;
    top: 10px;
    right: -771px;
    top: -331px;
    /* overflow: hidden; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 200px;
    height: 200px;
    right: -24%;
    top: 426px;
  }
  .socialmedia {
    position: absolute !important;
    right: -150px;
    top: 20%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .curryleaves {
    display: none;
  }
  .Copyrightcontainer {
    width: 95% !important;
  }
  .cauliflower {
    display: none;
  }
  .Team-membercontent {
    height: 250px !important;
  }
  .smallsocialmedia {
    display: none !important;
  }
}

@media screen and (max-width: 1130px) {
  .sddg {
    width: 80%;
    /* background-color: red; */
    /* margin-right: 155px; */
  }
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 107px;
    width: 107px;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 350px;
    height: 350px;
    left: 17%;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 350px;
    height: 350px;
    top: -69px;
    right: 31%;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 81px;
    height: 65px;
    /* bottom: -115px; */
    right: 460px;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 85%;
    top: 400px;
    /* background-color: red; */
  }
  .backgroundImage {
    position: absolute;
    top: 10px;
    right: -774px;
    top: -313px;
    /* overflow: hidden; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 231px;
    height: 200px;
    right: 19%;
    top: 426px;
  }
  .socialmedia {
    position: absolute !important;
    right: -110px;
    top: 20%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .teammembershin {
    height: 450px !important;
    /* background-color: #000; */
  }
  .common-title {
    font-size: 17px;
  }
  .common-para {
    font-size: 14px;
  }
  .Team-para {
    font-size: 14px;
    /* background-color: red; */
  }
  .smallsocialmedia {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .sddg {
    width: 80%;
    /* background-color: red; */
    /* margin-right: 155px; */
  }
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 127px;
    width: 127px;
  }
  .plate {
    position: absolute;
    z-index: 14;
    width: 350px;
    height: 350px;
    left: 21%;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 350px;
    height: 350px;
    top: -78px;
    right: 23%;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 81px;
    height: 65px;
    /* bottom: -115px; */
    right: 425px;
    top: 210px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 85%;
    top: 400px;
    /* background-color: red; */
  }
  .backgroundImage {
    position: absolute;
    top: 10px;
    right: -774px;
    top: -313px;
    /* overflow: hidden; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 151px;
    height: 120px;
    right: 19%;
    top: 370px;
  }
  .rowheight {
    height: 950px;
  }
  .socialmedia {
    display: none;
  }
  .smallsocialmedia {
    display: flex !important;
    visibility: visible;
    /* background-color: #1a5d00; */
    width: 50px;
    position: absolute;
    top: 150px;
    right: -71px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .smallsocialmedia i {
    font-size: 26px;
    cursor: pointer;
  }

  .chefimg {
    display: none;
  }
}

@media screen and (max-width: 988px) {
  .sddg {
    width: 80%;
    /* background-color: red; */
    /* margin-right: 155px; */
  }
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 107px;
    width: 80px;
  }
  .plate {
    position: absolute;
    z-index: 3;
    width: 270px;
    height: 270px;
    left: 37%;
    top: 67px;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 270px;
    height: 270px;
    top: 23px;
    right: 30%;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 70px;
    height: 65px;
    /* bottom: -115px; */
    right: 420px;
    top: 225px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 60%;
    top: 350px;
    /* background-color: red; */
  }
  .backgroundImage {
    position: absolute;
    top: 10px;
    right: -774px;
    top: -313px;
    /* overflow: hidden; */
  }
  .leafs {
    position: absolute;
    z-index: 3;

    width: 151px;
    height: 120px;
    right: 19%;
    top: 370px;
  }

  .adve {
    font-size: 40px;
  }

  .chefs-pecial {
    color: red;
    font-size: 20px;
  }
  .btn {
    background-color: #201e1e !important;
    padding: 15px 40px !important;
    border-radius: 10px;
  }
  .btntitle {
    color: white;
    font-size: 15px;
  }
  .rowheight {
    height: 550px;
  }
  .teammembershin {
    height: 895px !important;
    /* background-color: #000; */
  }
  .common-title {
    font-size: 22px;
  }
  .common-para {
    font-size: 18px;
  }
  .Team-para {
    font-size: 18px;
    /* background-color: red; */
  }
}

@media screen and (max-width: 890px) {
  .plate {
    position: absolute;
    z-index: 3;
    width: 250px;
    height: 250px;
    left: 42%;
    top: 67px;
  }
  .lemon {
    position: absolute;
    z-index: 1;
    /* background-color: #201e1e; */
    width: 250px;
    height: 250px;
    top: 23px;
    right: 23%;
  }
  .Strawberry {
    position: absolute;
    z-index: 3;
    /* background-color: #201e1e; */
    width: 70px;
    height: 65px;
    /* bottom: -115px; */
    right: 335px;
    top: 225px;
    /* background-color: red; */
  }
  .stick {
    position: absolute;
    z-index: 3;

    width: 81px;
    height: 65px;
    right: 60%;
    top: 350px;
    /* background-color: red; */
  }
}

@media screen and (max-width: 768px) {
  .leaf {
    position: absolute;
    top: 10px;
    left: 1px;
    height: 87px;
    width: 87px;
  }
  .rowheight {
    height: 360px;
  }
  .teammembershin {
    height: 795px !important;
    /* background-color: #000; */
  }
  .footer-leaves {
    display: none;
  }
  .common-title {
    font-size: 17px;
  }
  .common-para {
    font-size: 14px;
  }
  .Team-para {
    font-size: 14px;
    /* background-color: red; */
  }
  .Learmore {
    font-size: 17px;
    font-family: "DmSans-bold", sans-serif;
  }
  .choose-carousel .owl-dots .owl-dot span {
    width: 7px !important;
    height: 7px !important;
    margin: 3px 3px !important;
  }
}

@media screen and (max-width: 576px) {
  .chefs-pecial {
    color: red;
    font-size: 17px;
  }
  .adve {
    font-size: 35px;
  }
  .rowheight {
    height: 300px;
  }
  .teammembershin {
    height: 1750px !important;
    /* background-color: #000; */
  }
}
@media screen and (max-width: 472px) {
  .teammembershin {
    height: 555px !important;

    /* background-color: #000; */
  }
  .teammembershin {
    height: 1500px !important;
    /* background-color: #000; */
  }
}
@media screen and (max-width: 380px) {
  .leaf {
    display: none;
  }
  .chefs-pecial {
    color: red;
    font-size: 17px;
  }
  .adve {
    font-size: 30px;
  }
  .btntitle {
    color: white;
    font-size: 12px;
  }
  .teammembershin {
    height: 1240px !important;
    /* background-color: #000; */
  }
  .choose-carousel .owl-dots .owl-dot span {
    width: 5px !important;
    height: 5px !important;
    margin: 3px 2px !important;
    /* border: none; */
    /* background-color: #2f2d2d; */
  }
  .showmorebtn {
    background-color: #1a5d00;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
  }
  .webseries span {
    font-size: 13px;
    font-weight: 500;
  }
  .client-box {
    width: 140px;
    height: 100px;
    aspect-ratio: 1 / 1; /* PERFECT square */

    /* background-color: red; */
  }
}
